extends layout

block content

  - var isTruthy = tipe.isTruthy

  include signinLinks
  br
  br
  .container
    .col-left.pad
      .row: | collection:
      .row: | _id:
      .row: | fields:
      .row: | name:
      .row: | query:
      .row: | sort:
      .row: | refs:
      .row: | links:
      .row: | skip:
      .row: | limit:
      .row: | datesToUTC:
      .row: | count:
      .row: | countBy:
    .col-center.pad
      form#explore(method='post', action='/v1/explore')
        .row: input#collection.field(name='collection', patchholder='collection', value=collection)
        .row: input#_id.field(name='_id', patchholder='id', value=query._id)
        .row: input#fields.field(name='fields', patchholder='fields', value=JSON.stringify(query.fields))
        .row: input#name.field(name='name', patchholder='name', value=query.name)
        .row: input#query.field(name='query', patchholder='query', value=JSON.stringify(query.query))
        .row: input#sort.field(name='sort', patchholder='sort', value=JSON.stringify(query.sort))
        .row: input#refs.field(name='refs', patchholder='refs', value=query.refs)
        .row: input#links.field(name='links', patchholder='links', value=JSON.stringify(query.links))
        .row: input#skip.field(name='skip', patchholder='skip', value=query.skip)
        .row: input#limit.field(name='limit', patchholder='limit', value=query.limit)
        .row: input#datesToUTC.checkbox(name='datesToUTC', type='checkbox', checked=(isTruthy(query.datesToUTC) ? 'checked' : undefined))
        .row: input#count.checkbox(name='count', type='checkbox', checked=(isTruthy(query.count) ? 'checked' : undefined))
        .row: input#countBy.field(name='countBy', patchholder='countBy', value=query.countBy)
        input(type='submit', name='cmdRun', value='Run')
        input(type='submit', name='cmdShow', value='Show')
        =' '
        a(href='https://github.com/3meters/proxibase#quick-reference') Docs
    .col-right.pad
      .row: | 
      .row: | 
      .row: | name,address,-_id
      .row: | starts-with
      .row: | {city: {$in: ['Seattle', 'Spokane']}}
      .row: | _owner,-modifiedDate
      .row: | include linked documents, boolean or fieldlist
      .row: | {from: {applinks: 1}, to: true}
      .row: | 
      .row: | 
      .row: | 
      .row: | 
      .row: | field1,field2
  .content.pad
    if findUrl
      - var uri = config.service.uri + findUrl
      br
      a(href=uri) #{uri}
      br
      if displayQuery
        br
        div Query Object:
        div #{displayQuery}
        br
        div Query JSON:
        div #{displayJSON}
