extends layout

block content

  - var truthy = tipe.truthy

  include signinLinks
  br
  br
  .container
    .col-left.pad
      .row: | collection:
      .row: | _id:
      .row: | fields:
      .row: | name:
      .row: | query:
      .row: | sort:
      .row: | refs:
      .row: | links:
      .row: | skip:
      .row: | limit:
      .row: | datesToUTC:
      .row: | count:
      .row: | countBy:
    .col-center.pad
      form#explore(method='post', action='/explore')
        .row: input#collection.field(name='collection', placeholder='collection', value=query.collection)
        .row: input#_id.field(name='_id', placeholder='id', value=query._id)
        .row: input#fields.field(name='fields', placeholder='fields', value=JSON.stringify(query.fields))
        .row: input#name.field(name='name', placeholder='name', value=query.name)
        .row: input#query.field(name='query', placeholder='query', value=JSON.stringify(query.query))
        .row: input#sort.field(name='sort', placeholder='sort', value=JSON.stringify(query.sort))
        .row: input#refs.field(name='refs', placeholder='refs', value=query.refs)
        .row: input#links.field(name='links', placeholder='links', value=JSON.stringify(query.links))
        .row: input#skip.field(name='skip', placeholder='skip', value=query.skip)
        .row: input#limit.field(name='limit', placeholder='limit', value=query.limit)
        .row: input#datesToUTC.checkbox(name='datesToUTC', type='checkbox', checked=(truthy(query.datesToUTC) ? 'checked' : undefined))
        .row: input#count.checkbox(name='count', type='checkbox', checked=(truthy(query.count) ? 'checked' : undefined))
        .row: input#countBy.field(name='countBy', placeholder='countBy', value=query.countBy)
        input(type='submit', name='cmdRun', value='Run')
        input(type='submit', name='cmdShow', value='Show')
        =' '
        a(href='https://github.com/3meters/proxibase#quick-reference') Docs
    .col-right.pad
      .row: | 
      .row: | 
      .row: | {name: 1, _owner: 1}
      .row: | starts-with
      .row: | {city: {$in: ['Seattle', 'Spokane']}}
      .row: | [{_owner: 1}, {modifiedDate: -1}]
      .row: | include linked documents, boolean or fieldlist
      .row: | {from: {applinks: 1}, to: true}
      .row: | 
      .row: | 
      .row: | 
      .row: | 
      .row: | field1, field2
  .content.pad
    if findUrl
      - var uri = config.service.uri + findUrl
      br
      a(href=uri) #{uri}
      br
      if displayQuery
        br
        div Query Object:
        div #{displayQuery}
        br
        div Query JSON:
        div #{displayJSON}
