<div class="row" id="<%= beacon.id %>">
  <span class="span3"><%= beacon.niceTime %></span> <span class="span8">
    <a class="app_beacon" href="/beacons/<%= beacon.id %>" target="_blank">
      <% if (beacon.label) { %>
        <%= beacon.label %>
      <% } else { %>
        <%= beacon.ssid%>
      <% } %>
    </a>
  </span>
  <span class="pull-right sortable_handle ui-icon ui-icon-arrowthick-2-n-s"></span>
</div>
